pydantic-settings==2.10.1   # config.py
dotenv==0.9.9 				# Read environment variables from .env files
httpx==0.28.1				# Make requests
pydantic==2.10.6			# Create models
beautifulsoup4==4.9.3		# Grep HTML
fastapi-cache2==0.2.2		# cache the requests in memory
loguru==0.7.3				# logging
asgi-correlation-id==4.3.4